# lxd
# devlxd from https://github.com/cristi-bourceanu/pylxd-dev 
python3
python3-setuptools
iverilog
verilator
cocotb  # pip install
cocotbext-axis  # git clone https://github.com/cristi-bourceanu/cocotbext-axis && cd cocotbext-axis && pip install .
